nav {
    display: flex;
    align-items: center;
}

nav .navLink {
    color: #000;
    text-decoration: none;
    margin-left: 24px;
    position: relative;
}
nav .navLink:hover{
    /* color:aquamarine */
    color:#423030;

}
nav .navLink:hover::after{
    content:'';
    animation-name: NavLinkHover;
    animation-duration: 0.5s;
    position: absolute;
    bottom:-8px;
    left:50%;
    height:2px;
    background-color: #423030;
    transform: translateX(-50%);
    width:50%;

}

@keyframes NavLinkHover {
    from {width: 0%;}
    to {width: 50%;}
  }